.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    padding: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
   
}  

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}
.btn{
    width: 200px;
    padding: 40px 40px;
    
}